# Twitch App (https://dev.twitch.tv/console)
TWITCH_CLIENT_ID=c4c4mt2ymlsauflq7x58qxdxluxgye
TWITCH_CLIENT_SECRET=61kgtfceblbx0d6swkwk5vrlc5fo3h

# Your Railway domain (без / в конце)
BASE_URL=overlayroll.railway.internal

# PostgreSQL — Railway подставляет автоматически при добавлении плагина
DATABASE_URL=postgresql://user:pass@host:5432/db

# Порт (Railway сам задаёт $PORT, не нужно менять)
APP_PORT=3000
